# Ensure Docker build context is as small as possible by ignoring everything
*/

# Ensure the "resources" folder is not ignored, as it contains 
# everything which must be copied inside Docker image at build time
!/resources/